# PCAN devices:
#
# Special Udev rules for PEAK-System PCAN devices
#
# (C) 2014 PEAK-System GmbH
#
ACTION!="add", GOTO="pcan_udev_end"

# create symlinks: /dev/pcanX -> /dev/pcanusbY
# (handles CONFIG_USB_DYNAMIC_MINORS)
KERNEL=="pcanusb*", PROGRAM="/usr/local/bin/pcan_usb_minor_check.bash %m", SYMLINK+="pcan%c", MODE="0666"

# create symlinks: /dev/pcanusb/devid=X -> /dev/pcanusbY (PCAN-USB only)
# only if devid is not the default value 0xff.
# (since v7.13, PCAN-USB pcan_devid attribute contains hard-coded device id)
KERNEL=="pcanusb*", WAIT_FOR="pcan_hwtype", ATTR{pcan_hwtype}=="11", ATTR{pcan_devid} != "255", SYMLINK+="pcanusb/devid=$attr{pcan_devid}", MODE="0666", GOTO="pcan_udev_end"

# create symlinks: /dev/pcanusbproX -> /dev/pcanusbY (PCAN-USB Pro only)
# (since v7.13, PCAN-USB Pro pcan_hwtype attribute = 13)
# create symlinks: /dev/pcanusbpro/devid=X -> /dev/pcanusbY
# only if devid is not the default value 0xffffffff.
# (since v7.13, PCAN-USB Pro pcan_devid attribute contains hard-coded device
# ids)
KERNEL=="pcanusb*", WAIT_FOR="pcan_hwtype", ATTR{pcan_hwtype}=="13", ATTR{pcan_devid} != "4294967295", SYMLINK+="pcanusbpro%m", MODE="0666", SYMLINK+="pcanusbpro/devid=$attr{pcan_devid}", MODE="0666", GOTO="pcan_udev_end"

# create symlinks: /dev/pcanusbfdX -> /dev/pcanusbY (PCAN-USB FD only)
# (since v7.14, PCAN-USB FD pcan_hwtype attribute = 18)
# create symlinks: /dev/pcanusbfd/devid=X -> /dev/pcanusbY
# only if devid is not the default value 0xffffffff.
# (since v7.14, PCAN-USB FD pcan_devid attribute contain hard-coded device id)
KERNEL=="pcanusb*", WAIT_FOR="pcan_hwtype", ATTR{pcan_hwtype}=="18", ATTR{pcan_devid} != "4294967295", SYMLINK+="pcanusbfd%m", MODE="0666", SYMLINK+="pcanusbfd/devid=$attr{pcan_devid}", MODE="0666", GOTO="pcan_udev_end"

# create symlinks: /dev/pcanusbprofdX -> /dev/pcanusbY (PCAN-USB Pro FD only)
# (since v7.14, PCAN-USB Pro FD pcan_hwtype attribute = 17)
# create symlinks: /dev/pcanusbprofd/devid=X -> /dev/pcanusbY
# only if devid is not the default value 0xffffffff.
# (since v7.14, PCAN-USB Pro FD pcan_devid attribute contains hard-coded device
# ids)
KERNEL=="pcanusb*", WAIT_FOR="pcan_hwtype", ATTR{pcan_hwtype}=="17", ATTR{pcan_devid} != "4294967295", SYMLINK+="pcanusbprofd%m", MODE="0666", SYMLINK+="pcanusbprofd/devid=$attr{pcan_devid}", MODE="0666", GOTO="pcan_udev_end"

# All other PCAN devices
KERNEL=="pcanpci*", SYMLINK+="pcan%m", MODE="0666"
KERNEL=="pcanpccard*", SYMLINK+="pcan%m", MODE="0666"
KERNEL=="pcanisa*", SYMLINK+="pcan%m", MODE="0666"
KERNEL=="pcanepp*", SYMLINK+="pcan%m", MODE="0666"
KERNEL=="pcansp*", SYMLINK+="pcan%m", MODE="0666"

LABEL="pcan_udev_end"
